@charset "UTF-8";
@import url(./reset.css);

#wrap {width:100%;}

#wrap #header {width:100%;height:100px;background:#f0f0f0;position:relative;z-index:3;}
#wrap #header .container {width:1200px;height:100px;margin:0 auto;position:relative;}

#wrap #header .container .sub-bg {display:none;position:absolute;top:99px;left:0;width:100%;height:160px;background:#333;z-index:1;}

#wrap #header .container .wrap {width:100%;height:100px;display:flex;position:relative;z-index:2;}
#wrap #header .container .wrap #logo {width:200px;height:100px;}
#wrap #header .container .wrap #logo a {display:block;width:100%;height:40px;margin:30px 0;}
#wrap #header .container .wrap #logo a img {width:100%;}

#wrap #header .container .wrap #nav {width:1000px;height:100px;position:relative;z-index:2;}
#wrap #header .container .wrap #nav > ul {width:700px;display:flex;margin:50px 0 0 auto;}
#wrap #header .container .wrap #nav > ul > li {width:25%;height:50px;border:1px solid #ccc;border-radius:10px 10px 0 0;}
#wrap #header .container .wrap #nav > ul > li > a {display:block;width:100%;height:100%;text-align:center;font-size:15px;font-weight:600;line-height:50px;background:#fff;color:#222;transition:all .3s;border-radius:10px 10px 0 0;}
#wrap #header .container .wrap #nav > ul > li > a:hover {background:#333;color:#fff;}
#wrap #header .container .wrap #nav > ul > li > a.on {background:#333;color:#fff;}

#wrap #header .container .wrap h1 {width: 200px;height: 100px;}
#wrap #header .container .wrap h1 a {display: block;width: 100%;height: 40px;margin: 30px 0;}
#wrap #header .container .wrap h1 a img {width: 100%;}


#wrap #header .container .wrap #nav {width: 1000px;height: 100px;}
#wrap #header .container .wrap #nav > ul {width: 700px;display: flex;margin: 50px 0 0 auto;}
#wrap #header .container .wrap #nav > ul > li {width: 25%;height: 50%;}
#wrap #header .container .wrap #nav > ul > li > a {display: block;width: 100%;height: 100%;text-align: center;font-size: 15px;font-weight: 600;line-height: 50px;transition: all .3s;}
#wrap #header .container .wrap #nav ul li a:hover {background: #444;color: #fff;}
#wrap #header .container .wrap #nav > ul > li > a.on {background: #444;color: #fff;}

#wrap #header .container .wrap #nav > ul > li > .sub {width:100%;display:none;}
#wrap #header .container .wrap #nav > ul > li > .sub ul {width:100%;}
#wrap #header .container .wrap #nav > ul > li > .sub ul li {width:100%;line-height:38px;}
#wrap #header .container .wrap #nav > ul > li > .sub ul li a {display:block;width:100%;height:100%;text-align:center;background:#333;color:#fff;transition:all .3s;}
#wrap #header .container .wrap #nav > ul > li > .sub ul li a:hover {background:#d0d0d0;color:#333;}

#wrap #main {width:100%;}
#wrap #main #section1 {width:100%;height:300px;}
#wrap #main #section1 .container {width:1200px;height:300px;background:rgba(255,150,255,1);margin:0 auto;}

#wrap #main #section2 {width:100%;height:200px;}
#wrap #main #section2 .container {width:1200px;height:300px;background:#efefef;margin:0 auto;}

#wrap #footer {width:100%;height:100px;background:#f0f0f0;position:relative;z-index:1;}
#wrap #footer .container {width:1200px;height:100px;background:#afafaf;margin:0 auto;}

#wrap #main #section1 .container .slide-container {width: 100%;position: relative;}
#wrap #main #section1 .container .slide-container .slide-view {width: 100%;position: relative;overflow: hidden;}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap {width: 500%;position: relative;margin-left: -100%;display: flex;}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide {width: 100%;height: 300px;background: url() no-repeat 50% 50%;background-size: cover;display: flex;}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide h2 {font-size: 45px;font-weight: 600;text-align: center;width: 100%;margin: auto 0;line-height: 70px;background: rgba(0,0,0,.4);color: #fff;}

#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide1 {background-image:url(../images/img1.jpg);}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide2 {background-image:url(../images/img2.jpg);}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide3 {background-image:url(../images/img3.jpg);}


#wrap #main #section2 {width:100%;height:200px;}
#wrap #main #section2 .container {width:1200px;height:200px;margin:0 auto;display:flex;}

#wrap #main #section2 .container .left {width:33.333%;height:100%;}
#wrap #main #section2 .container .left .gap {height:100%;position:relative;padding:36px 0 0 0;}
#wrap #main #section2 .container .left .gap button {width: 100px;height:35px;border:1px solid #ccc;border-bottom:0;position:absolute;top:2px;border-radius: 5px 5px 0 0;}
#wrap #main #section2 .container .left .gap button.notice-btn {background:#fff;left:10px;cursor:pointer;z-index: 3;}
#wrap #main #section2 .container .left .gap .notice-box {width: 100%;height:164px;border:1px solid #ccc;background: #fff;position:relative;z-index: 2;}


#wrap #main #section2 .container .left .gap .notice-box .notice-gap {padding:15px 10px;}
#wrap #main #section2 .container .left .gap .notice-box .notice-gap ul {width:100%;}
#wrap #main #section2 .container .left .gap .notice-box .notice-gap ul li {width:100%;line-height:33px;padding:0 90px 0 13px;display:flex;position:relative;}
#wrap #main #section2 .container .left .gap .notice-box .notice-gap ul li a {display: block;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;width: 100%;}
#wrap #main #section2 .container .left .gap .notice-box .notice-gap ul li a::before {content:'';display:block;width:3px;height:3px;background:#333;position:absolute;top:50%;left:0;margin-top:-1.5px;}
#wrap #main #section2 .container .left .gap .notice-box .notice-gap ul li span {display:block;position:absolute;right:0;top:0;}

#wrap #main #section2 .container .center {width:33.333%;height:100%;}
#wrap #main #section2 .container .center .gap {height:100%;position:relative;padding:36px 0 0 0;}
#wrap #main #section2 .container .center .gap button {width: 100px;height:35px;border:1px solid #ccc;border-bottom: 0;position:absolute;top:2px;border-radius:5px 5px 0 0;}
#wrap #main #section2 .container .center .gap button.gallery-btn {background:#fff;left:10px;cursor:pointer;z-index: 3;}
#wrap #main #section2 .container .center .gap .gallery-box {width: 100%;height:100%;background:#fff;border:1px solid #ccc;position:relative;z-index:2;}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap {padding:20px 5px;}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul {width:100%;display:flex;}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul li {width: 33.333%;}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul li .img-gap {padding:0 5px;}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul li .img-gap .img-bg {width: 100%;height:122px;background:url() no-repeat 50% 50%;background-size:cover;}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul li:nth-child(1) .img-gap .img-bg {background-image: url(../images/icon1.jpg);}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul li:nth-child(2) .img-gap .img-bg {background-image: url(../images/icon2.jpg);}
#wrap #main #section2 .container .center .gap .gallery-box .gallery-gap ul li:nth-child(3) .img-gap .img-bg {background-image: url(../images/icon3.jpg);}



#wrap #main #section2 .container .right {width:33.333%;height:100%;}


#wrap #main #section2 .container .right .gap {padding:0;}
#wrap #main #section2 .container .right .gap .link-box {width:100%;height:100%;}
#wrap #main #section2 .container .right .gap .link-box .title {width:100%;height:100%;}
#wrap #main #section2 .container .right .gap .link-box .title h2 {font-size:18px;font-weight:600;color:#333;text-align:center;margin:auto 0;width:100%;line-height:36px;}

#wrap #main #section2 .container .right .gap .img-box {border:1px solid #ccc;width:100%;height:164px;}
#wrap #main #section2 .container .right .gap .img-box .img-bg {display:flex;background:url(../images/banner.jpg);background-size:cover;width:100%;height:100%;}
#wrap #main #section2 .container .right .gap .img-box .img-bg h3 {font-size: 14px;font-weight: 600;color:#fff;margin:auto;background:rgba(0,0,0,.7);text-align:center;line-height:30px;width:40%;}

#wrap #footer {width:100%;height:100px;background:#f7f7f7;}
#wrap #footer .container {width:1200px;height: 100px;margin:0 auto;}

#wrap #footer .container .wrap {width:1200px;height:100px;display:flex;}
#wrap #footer .container .wrap .left {width:1000px;height: 100%;}
#wrap #footer .container .wrap .left .top {width:1000px;height: 50%;text-align:center;}
#wrap #footer .container .wrap .left .top span {margin:0 5px;}

#wrap #footer .container .wrap .left .bottom {width:1000px;height:50%;text-align:center;}
#wrap #footer .container .wrap .right {width:200px;height:100%;display:flex;}
#wrap #footer .container .wrap p {margin:auto;}


#wrap #modal {position:fixed;z-index:4;top:0;left:0;background:rgba(0,0,0,.5);width:100%;height:100%;display:none;}
#wrap #modal.on {display: flex;}
#wrap #modal .container {width: 800px;background:#fff;margin:auto;margin-top:250px;}
#wrap #modal .container .gap {padding:30px;}
#wrap #modal .container .gap ul {width:100%;}
#wrap #modal .container .gap ul li {width: 100%;display:flex;line-height:43px;}
#wrap #modal .container .gap ul li:first-child {border-bottom:2px solid #333;background:#eee;}
#wrap #modal .container .gap ul li h1 {font-size:20px;font-weight:600;text-indent: 15px;line-height: 50px;}
#wrap #modal .container .gap ul li p {line-height:150%;padding:10px;text-align:justify;}
#wrap #modal .container .gap .button-box {text-align:right;padding:10px 0 0 0;}
#wrap #modal .container .gap .button-box button {width:80px;height:35px;background:#fff;border:1px solid #ccc;cursor:pointer;}
